#wrapper {
    position: relative;
    width: 80%; 
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }
  
  p {
    text-align: center; 
  }
  
  .main { 
   margin-top: 20%;
  font-size: 35px;       
  }

  img.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -225px; 
}